In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [7]:
geopark = gpd.read_file('../data/parks.geojson')
print(geopark.crs)
geopark.head( )

epsg:4326

,school,community,city,zipcode,acres,name,football_m,classifica,shape_area,camping,...,community_1,images,historic,restroom,lat,volleyball,phone,descriptio,dog_park,geometry
0,None,No,Antioch,37013,622,Mill Ridge Park,None,None,27005433.936,None,...,None,None,Yes,No,0,None,None,None,None,"MULTIPOLYGON (((-86.61072 36.01596, -86.61072 ..."
1,None,No,Antioch,37013,23.94,None,None,None,1038220.47526,None,...,None,None,None,No,0,None,None,None,None,"MULTIPOLYGON (((-86.64436 36.04331, -86.64399 ..."
2,No,No,Madison,37115,10.25,None,No,<Null>,436585.60938,No,...,No,None,No,No,1773033.44088,No,None,Under development,No,"MULTIPOLYGON (((-86.66357 36.24040, -86.66203 ..."
3,None,No,Nashville,37204,1.41582132469,None,No,None,61672.9302239,None,...,None,None,None,No,0,No,None,None,None,"MULTIPOLYGON (((-86.77956 36.11125, -86.77960 ..."
4,None,No,Nashville,37221,0.48,None,None,None,22116.8493151,None,...,None,None,None,No,0,None,None,None,None,"MULTIPOLYGON (((-86.94581 36.05387, -86.94600 ..."

In [3]:
type(parks)

geopandas.geodataframe.GeoDataFrame

In [6]:
acq = pd.read_csv('../data/Land_Bank_Acquisitions.csv')
print(acq.shape)
acq.head(3)

(85, 62)

,the_geom,OBJECTID,NAME,PARK_ID,LAT,LON,YEAR_ESTAB,ACRES,DAYS_OPEN,HOURS,...,Canoe_Laun,Community1,Par_Finder,COMMON_NAM,PARK_NUM,CLASSIFICA,CITY,STATE,ZIPCODE,Council_D
0,MULTIPOLYGON (((-86.61071546296412 36.01595663...,767,Mill Ridge Park,NaN,0.000000e+00,0.000000,0,622.00,NaN,NaN,...,NaN,NaN,NaN,Southeast Park Property Park,31,NaN,Antioch,TN,37013.0,NaN
1,MULTIPOLYGON (((-86.64435926660656 36.04331318...,768,NaN,NaN,0.000000e+00,0.000000,0,23.94,NaN,NaN,...,NaN,NaN,NaN,Southeast Park Property Park,31,NaN,Antioch,TN,37013.0,NaN
2,MULTIPOLYGON (((-86.66356718599474 36.24039647...,769,NaN,PARK_102,1.773033e+06,693951.625375,0,10.25,NaN,Dawn to 11 pm,...,No,No,NaN,Brake Park,9,<Null>,Madison,TN,37115.0,NaN

In [18]:
acq['geometry'] = acq.apply(lambda x: Point((float(x.LON), 
                                                         float(x.LAT))), 
                                        axis=1)
acq.head(3)

,the_geom,OBJECTID,NAME,PARK_ID,LAT,LON,YEAR_ESTAB,ACRES,DAYS_OPEN,HOURS,...,Community1,Par_Finder,COMMON_NAM,PARK_NUM,CLASSIFICA,CITY,STATE,ZIPCODE,Council_D,geometry
0,MULTIPOLYGON (((-86.61071546296412 36.01595663...,767,Mill Ridge Park,NaN,0.000000e+00,0.000000,0,622.00,NaN,NaN,...,NaN,NaN,Southeast Park Property Park,31,NaN,Antioch,TN,37013.0,NaN,POINT (0 0)
1,MULTIPOLYGON (((-86.64435926660656 36.04331318...,768,NaN,NaN,0.000000e+00,0.000000,0,23.94,NaN,NaN,...,NaN,NaN,Southeast Park Property Park,31,NaN,Antioch,TN,37013.0,NaN,POINT (0 0)
2,MULTIPOLYGON (((-86.66356718599474 36.24039647...,769,NaN,PARK_102,1.773033e+06,693951.625375,0,10.25,NaN,Dawn to 11 pm,...,No,NaN,Brake Park,9,<Null>,Madison,TN,37115.0,NaN,POINT (693951.6253749999 1773033.44088)